In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("lendingdata.csv")

In [3]:
df

,Unnamed: 0,activity,borrower_genders,country,country_code,currency_policy,distribution_model,lender_count,loan_amount,original_language,repayment_interval,sector,status,term_in_months,rMPI
0,0,Home Appliances,group,Cambodia,KH,shared,field_partner,5.0,125.0,English,monthly,Personal Use,funded,8,0.097
1,1,Cereals,female,Philippines,PH,shared,field_partner,5.0,125.0,English,irregular,Food,funded,14,0.055
2,2,Clothing Sales,female,Peru,PE,shared,field_partner,10.0,375.0,Spanish,monthly,Clothing,funded,8,0.000
3,3,Clothing Sales,female,Tajikistan,TJ,not shared,field_partner,27.0,850.0,English,monthly,Clothing,funded,14,0.021
4,4,Fish Selling,female,Uganda,UG,not shared,field_partner,17.0,550.0,English,irregular,Food,funded,9,0.417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27531,27531,Services,female,Zambia,ZM,shared,field_partner,85.0,2300.0,English,bullet,Services,funded,9,0.158
27532,27532,Pigs,female,Philippines,PH,not shared,field_partner,17.0,475.0,English,irregular,Agriculture,funded,8,0.422
27533,27533,General Store,female,Philippines,PH,shared,field_partner,38.0,1075.0,English,irregular,Retail,funded,11,0.055
27534,27534,Food Market,female,Ghana,GH,shared,field_partner,35.0,1075.0,English,irregular,Food,funded,6,0.122
27535,27535,Farming,male,Tajikistan,TJ,not shared,field_partner,55.0,2000.0,English,monthly,Agriculture,funded,14,0.033

In [4]:
df=df.dropna()

In [5]:
df.loc[df.term_in_months == '1 Year',"term_in_months"]=12
df.loc[df.term_in_months == "2 Years","term_in_months"]=24

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [36]:
print(df.select_dtypes(object).columns.tolist())

['activity', 'borrower_genders', 'country', 'country_code', 'currency_policy', 'distribution_model', 'original_language', 'repayment_interval', 'sector', 'status', 'term_in_months']

In [37]:
df1=pd.get_dummies(df,columns=['activity', 'borrower_genders', 'country', 'country_code',
       'currency_policy', 'distribution_model', 'original_language',
       'repayment_interval', 'sector', 'status','term_in_months'])

In [38]:
df1["status"]= df["status"]=="funded"

In [39]:
x=df1.drop(columns="status")

In [40]:
y=df1.status
y=y.astype(int)

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=.70,random_state=10)

In [42]:
logit=LogisticRegression().fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [43]:
y_pred=logit.predict(x_test)

In [44]:
y_pred

array([1, 1, 1, ..., 1, 1, 1])

In [45]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [46]:
accuracy_score(y_test,y_pred)

0.9998788759689923

In [47]:
confusion_matrix(y_test,y_pred)

array([[1026,    0],
       [   1, 7229]], dtype=int64)